---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/o-perkin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d87e685387011370930eb4e3eecd0f1b79777143d5856d06e671bc1e37cf3ac7"
      Last-Modified:
      - Sun, 04 Oct 2020 11:04:00 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1601829147'
      X-Ratelimit-Used:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"o-perkin","id":58508900,"node_id":"MDQ6VXNlcjU4NTA4OTAw","avatar_url":"https://avatars3.githubusercontent.com/u/58508900?v=4","gravatar_id":"","url":"https://api.github.com/users/o-perkin","html_url":"https://github.com/o-perkin","followers_url":"https://api.github.com/users/o-perkin/followers","following_url":"https://api.github.com/users/o-perkin/following{/other_user}","gists_url":"https://api.github.com/users/o-perkin/gists{/gist_id}","starred_url":"https://api.github.com/users/o-perkin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/o-perkin/subscriptions","organizations_url":"https://api.github.com/users/o-perkin/orgs","repos_url":"https://api.github.com/users/o-perkin/repos","events_url":"https://api.github.com/users/o-perkin/events{/privacy}","received_events_url":"https://api.github.com/users/o-perkin/received_events","type":"User","site_admin":false,"name":"Oleksii
        Perkin","company":null,"blog":"","location":"Lviv, Ukraine","email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":14,"public_gists":0,"followers":0,"following":0,"created_at":"2019-12-04T09:28:24Z","updated_at":"2020-10-04T11:04:00Z"}'
  recorded_at: Sun, 04 Oct 2020 15:48:34 GMT
- request:
    method: get
    uri: https://api.github.com/users/o-perkin/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2d261b170d8b6fde86e973762fb616e1ace0acec6d7892a5e515a4d834576e97"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1601829148'
      X-Ratelimit-Used:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":238683193,"node_id":"MDEwOlJlcG9zaXRvcnkyMzg2ODMxOTM=","name":"Coffitivity.com","full_name":"o-perkin/Coffitivity.com","private":false,"owner":{"login":"o-perkin","id":58508900,"node_id":"MDQ6VXNlcjU4NTA4OTAw","avatar_url":"https://avatars3.githubusercontent.com/u/58508900?v=4","gravatar_id":"","url":"https://api.github.com/users/o-perkin","html_url":"https://github.com/o-perkin","followers_url":"https://api.github.com/users/o-perkin/followers","following_url":"https://api.github.com/users/o-perkin/following{/other_user}","gists_url":"https://api.github.com/users/o-perkin/gists{/gist_id}","starred_url":"https://api.github.com/users/o-perkin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/o-perkin/subscriptions","organizations_url":"https://api.github.com/users/o-perkin/orgs","repos_url":"https://api.github.com/users/o-perkin/repos","events_url":"https://api.github.com/users/o-perkin/events{/privacy}","received_events_url":"https://api.github.com/users/o-perkin/received_events","type":"User","site_admin":false},"html_url":"https://github.com/o-perkin/Coffitivity.com","description":null,"fork":false,"url":"https://api.github.com/repos/o-perkin/Coffitivity.com","forks_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/forks","keys_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/keys{/key_id}","collaborators_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/teams","hooks_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/hooks","issue_events_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/issues/events{/number}","events_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/events","assignees_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/assignees{/user}","branches_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/branches{/branch}","tags_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/tags","blobs_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/git/refs{/sha}","trees_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/git/trees{/sha}","statuses_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/statuses/{sha}","languages_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/languages","stargazers_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/stargazers","contributors_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/contributors","subscribers_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/subscribers","subscription_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/subscription","commits_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/commits{/sha}","git_commits_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/git/commits{/sha}","comments_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/comments{/number}","issue_comment_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/issues/comments{/number}","contents_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/contents/{+path}","compare_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/compare/{base}...{head}","merges_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/merges","archive_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/downloads","issues_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/issues{/number}","pulls_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/pulls{/number}","milestones_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/milestones{/number}","notifications_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/labels{/name}","releases_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/releases{/id}","deployments_url":"https://api.github.com/repos/o-perkin/Coffitivity.com/deployments","created_at":"2020-02-06T12:24:19Z","updated_at":"2020-02-13T16:00:57Z","pushed_at":"2020-02-13T16:00:55Z","git_url":"git://github.com/o-perkin/Coffitivity.com.git","ssh_url":"git@github.com:o-perkin/Coffitivity.com.git","clone_url":"https://github.com/o-perkin/Coffitivity.com.git","svn_url":"https://github.com/o-perkin/Coffitivity.com","homepage":null,"size":410,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":269916703,"node_id":"MDEwOlJlcG9zaXRvcnkyNjk5MTY3MDM=","name":"contactform","full_name":"o-perkin/contactform","private":false,"owner":{"login":"o-perkin","id":58508900,"node_id":"MDQ6VXNlcjU4NTA4OTAw","avatar_url":"https://avatars3.githubusercontent.com/u/58508900?v=4","gravatar_id":"","url":"https://api.github.com/users/o-perkin","html_url":"https://github.com/o-perkin","followers_url":"https://api.github.com/users/o-perkin/followers","following_url":"https://api.github.com/use[...]
