---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/asdasd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d3e770ba34386007cf280055560c754acc632d2b748a5dcd8f8739cf7ef0cca1"
      Last-Modified:
      - Fri, 19 Jun 2020 19:59:11 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1601829148'
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"asdasd","id":42302,"node_id":"MDQ6VXNlcjQyMzAy","avatar_url":"https://avatars2.githubusercontent.com/u/42302?v=4","gravatar_id":"","url":"https://api.github.com/users/asdasd","html_url":"https://github.com/asdasd","followers_url":"https://api.github.com/users/asdasd/followers","following_url":"https://api.github.com/users/asdasd/following{/other_user}","gists_url":"https://api.github.com/users/asdasd/gists{/gist_id}","starred_url":"https://api.github.com/users/asdasd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/asdasd/subscriptions","organizations_url":"https://api.github.com/users/asdasd/orgs","repos_url":"https://api.github.com/users/asdasd/repos","events_url":"https://api.github.com/users/asdasd/events{/privacy}","received_events_url":"https://api.github.com/users/asdasd/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":0,"public_gists":0,"followers":4,"following":0,"created_at":"2008-12-23T14:42:44Z","updated_at":"2020-06-19T19:59:11Z"}'
  recorded_at: Sun, 04 Oct 2020 15:46:44 GMT
- request:
    method: get
    uri: https://api.github.com/users/asdasd/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"992aaf92b487506974e4305db4a64326866f3ed48b2ba424cef8fbe4e28f72b0"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1601829148'
      X-Ratelimit-Used:
      - '9'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 04 Oct 2020 15:46:44 GMT
recorded_with: VCR 6.0.0
